.about-section {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.6;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  background-color: black;
  margin: 0;
  padding-top: 3rem;
}

.about-section h1 {
  margin: 0;
  padding: 0;
}
