.about-section {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffffff;
  background-color: black;
  margin: 0;
  padding: 0;
}

.next-section {
  position: relative;
  background: black;
  min-height: 100vh;
}

.next-section::before {
  content: "";
  position: absolute;
  top: -300px; /* sobe para cobrir o final do hero */
  left: 0;
  width: 100%;
  height: 300px;
  pointer-events: none;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
