.about-section {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
  line-height: 1.6;
  width: 100%;
  color: #ffffff;
  background-color: black;
  margin: 0;
  padding: 8rem 6vw 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  flex-wrap: wrap;
}

.about-section h1 {
  margin: 0;
  padding: 0;
}

.about-img {
  width: 100%;
  max-width: 320px;
  border-radius: 2rem;
}

.section-title {
  display: inline-flex;
  flex-direction: column;
}

.title {
  font-size: 2.8rem;
  font-weight: 600;
  color: white;
  letter-spacing: 0.05em;
  align-self: start;
  width: fit-content;
  margin: 0;
  padding: 0;
  height: fit-content;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* LINHA + TEXTO */
.underline-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

/* UNDERLINE CURTO */
.underline {
  width: 70%;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
}

/* WHO AM I */
.subtitle {
  font-size: 0.9rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #0ea5e9;
  white-space: nowrap;
}

.about-text {
  margin-top: 1rem;
  max-width: 500px;
  font-size: 1rem;
  color: #d1d5db;
  text-align: start;
  font-family: "Inter", sans-serif;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.about-btn {
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #0ea5e9;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.about-btn:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #0ea5e9;
}

.about-btn:active {
  transform: scale(0.98);
}

.about-btn a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1024px) {
  .about-section {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 6rem 4vw;
  }

  .section-title {
    align-items: center;
  }

  .title {
    font-size: 2.4rem;
    align-self: center;
  }

  .about-text {
    text-align: center;
  }

  .btn-container {
    justify-content: center;
  }

  .about-img {
    display: none;
  }
}

@media (max-width: 480px) {
  .about-section {
    padding: 4rem 1.5rem;
    gap: 2rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 0.75rem;
  }

  .underline {
    width: 50%;
  }

  .about-text {
    font-size: 0.95rem;
  }

  .about-img {
    display: none;
  }

  .btn-container {
    flex-direction: column;
    width: 100%;
  }

  .about-btn {
    width: 100%;
    text-align: center;
  }
}