.about-section {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.6;
  width: 100vw;
  color: #ffffff;
  background-color: black;
  margin: 0;
  padding: 10rem 0 0 0;
  display: flex;
  justify-content: center;
  gap: 15rem;
}

.about-section h1 {
  margin: 0;
  padding: 0;
}

.about-img {
  width: 20rem;
  border-radius: 2rem;
}

.section-title {
  display: inline-flex;
  flex-direction: column;
}

.title {
  font-size: 2.8rem;
  font-weight: 600;
  color: white;
  letter-spacing: 0.05em;
  align-self: start;
  width: fit-content;
  margin: 0;
  padding: 0;
  height: fit-content;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* LINHA + TEXTO */
.underline-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

/* UNDERLINE CURTO */
.underline {
  width: 70%;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
}

/* WHO AM I */
.subtitle {
  font-size: 0.9rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #0ea5e9;
  white-space: nowrap;
}

.about-text {
  margin-top: 1rem;
  max-width: 35rem;
  font-size: 1rem;
  color: #d1d5db;
  text-align: start;
  font-family: "Inter", sans-serif;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.about-btn {
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #0ea5e9;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.about-btn:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #0ea5e9;
}

.about-btn:active {
  transform: scale(0.98);
}

.about-btn a {
  text-decoration: none;
  color: inherit;
}
