.education-section {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  width: 100%;
  color: #ffffff;
  background-color: black;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 4rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.about-underline-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.about-underline {
  width: 70%;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
}

.about-subtitle {
  font-size: 0.9rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #0ea5e9;
}

.school {
  font-style: italic;
  color: #bbbbbbbe;
  font-size: 1rem;
}
.edu-local {
  font-style: italic;
  color: #1dc0c5be;
  font-size: 1rem;
}

.edu-desc {
  color: #dddddd;
  font-size: 1rem;
}

.timeline {
  width: 100%;
}

.timeline-wrapper {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.timeline-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  min-height: 180px;
  display: flex;
  align-items: center;
}

.timeline-content {
  width: 45%;
  padding: 1.5rem;
}

.timeline-content.left {
  text-align: right;
  margin-right: auto;
}

.timeline-content.right {
  text-align: left;
  margin-left: auto;
}

.timeline-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.timeline-dot {
  display: block;
  width: 10px;
  height: 10px;
  background: #0ea5e9;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(0, 173, 253, 0.274);
}

/* ANO */
.timeline-year {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  font-weight: 700;
  opacity: 0.15;
  white-space: nowrap;
  transform: translateY(-50%);
}

.timeline-item.left .timeline-year {
  left: 22px;
}

.timeline-item.right .timeline-year {
  right: 22px;
}

@media (max-width: 768px) {
  .timeline-wrapper::before {
    left: 20px;
  }

  .timeline-center {
    left: 20px;
  }

  .timeline-year {
    left: 18px;
    display: none;
  }

  .timeline-content {
    width: 100%;
    margin-left: 3rem;
    text-align: left;
  }
}

/* ===== SCROLL REVEAL ===== */

.timeline-item {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 1s ease,
    transform 1s ease;
}

/* Direção respeitando o layout */
.timeline-item.left {
  transform: translateX(-60px);
}

.timeline-item.right {
  transform: translateX(60px);
}

/* Quando entra na tela */
.timeline-item.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
