header {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  display: flex;
  padding: 1rem 2rem;
  background-color: black;
}

.header-logo {
  height: 100%;
  max-height: 2.3rem;
}

.link-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #0ea5e9;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.link-underline:hover::after {
  transform: scaleX(1);
}

nav a {
  margin: 0 1rem;
  font-weight: 500;
  font-size: 1rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}
