header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-style: normal;
}

.link-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #ac5301;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.link-underline:hover::after {
  transform: scaleX(1);
}

li {
  list-style: none;
  display: inline;
  width: 100vw;
  justify-content: space-between;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
