.hero-section {
  position: relative;
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  padding: 0 6vw;
  overflow: hidden;
  background-color: black;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: -150px;
  left: -150px;

  width: 400px;
  height: 400px;

  background: radial-gradient(
    circle,
    rgba(14, 164, 233, 0.021) 0%,
    rgba(14, 165, 233, 0.25) 40%,
    rgba(14, 165, 233, 0.05) 65%,
    transparent 70%
  );

  filter: blur(80px);
  z-index: 0;
}

.hero-section::after {
  content: "";
  position: absolute;
  bottom: -150px;
  right: -150px;

  width: 450px;
  height: 450px;

  background: radial-gradient(
    circle,
    rgba(14, 164, 233, 0.082) 0%,
    rgba(14, 164, 233, 0.096) 45%,
    rgba(14, 165, 233, 0.05) 70%,
    transparent 75%
  );

  filter: blur(90px);
  z-index: 0;
}
.hero-info {
  text-align: start;
  color: white;
  width: 30%;
  z-index: 1;
}

.hero-title {
  margin: 0;
  font-size: 3rem;
}

.hero-img {
  width: 25rem;
  border-radius: 21px;
  border-bottom-right-radius: 6rem;
  border-top-left-radius: 6rem;
  z-index: 1;
}

.hero-span {
  color: #0ea5e9;
}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.5;
  width: 80%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.hero-button,
.lets-talk {
  border: 1px solid transparent;
  border: none;
  padding: 0.8rem 1.5rem;
  background-color: transparent;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0.3rem;
}

.lets-talk {
  background-color: #0ea5e9;
  color: black;
  cursor: pointer;
  transition: all 0.35s ease;
}

.lets-talk:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #0ea5e9;
  color: white;
}

.see-projects {
  color: white;
  cursor: pointer;
  transition: all 0.35s ease;
}

.see-projects a {
  text-decoration: none;
  color: inherit;
}

.see-projects:hover {
  box-shadow: inset 0 0 0 1px white;
}

.ticker {
  width: 100%;
  height: 8vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: black;

  mask-image: linear-gradient(
    to right,
    transparent,
    black 6%,
    black 94%,
    transparent
  );

  border-top: 1px solid rgba(255, 255, 255, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.ticker-group:first-child {
  padding-right: 8rem;
}

.ticker-track {
  display: flex;
  width: max-content;
  animation: ticker 30s linear infinite;
  will-change: transform;
}

.ticker-group {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.ticker-track img {
  height: 32px;
  opacity: 0.75;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.ticker-track img:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.2);
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 1024px) {
  .hero-section {
    gap: 5rem;
  }

  .hero-info {
    width: 45%;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-img {
    width: 20rem;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 1.8rem;
  }

  .hero-img {
    width: 14rem;
  }

  .ticker {
    height: 5vh;
  }

  .ticker-track img {
    height: 24px;
  }

  .ticker-group {
    gap: 4rem;
  }
}
