@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Rubik:wght@300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}
